{% extends "base.html" %}

{% block start %}
    <h3>This is my contact page for the website</h3>


    <table style="width:100%">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th> 
          <th>Age</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>80</td>
        </tr>
      </table>
    <a href="/">Home</a>
<a href="/about/">Go to about</a>
<a href="/receipes/">Go to Receipes</a>

{% endblock %}