{% extends "base.html" %}

{% block start %}

<h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </H4>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<table style="width:100%" >
    <tr>
      <th>Sr. NO</th>
      <th>Boys Name</th>
      <th>Age</th>
      <th>Can VOTE</th>     
    </tr>

    {% for people in peoples %}

    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{people.name}}</td>
      <td>{{people.age}}</td>
      <td {% if people.age < 18 %} style="background: blueviolet" {% endif %}> 
        {% if people.age >= 18 %}
        👍
        {% else  %}
        🤦‍♂️
        {% endif %}

      </td>
    </tr>

    {% endfor %}
</table>



<a href="/contact/">Go to contact</a>
<a href="/about/">Go to about</a>

{% endblock %}